{% extends 'music/base.html' %}
{% block body %}

    {% if all_album %}
        <h3>List of Albums</h3>
        <div class="row">
        {% for album in all_album %}
                <div class="col-md-3">
                <div class="thumbnail">
                   <a href="{% url 'music:details' album.id %}">
                   <img src="{{ album.album_logo.url }}" style="width:100%">
                   <div class="caption">
                       {{  album.album_title}}
                   </a>
                    <form action="{% url 'music:album-delete' album.id%}" method="post" style="display:inline">
                       {% csrf_token %}
                       <input type="hidden" value="{{ album.id }}">
                       <button type="submit">
                           <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                       </button>
                   </form>
                </div>
                </div>
                </div>
        {% endfor %}
         </div>
    {% else %}
        <h3>There are no albums.</h3>
    {% endif %}
{% endblock %}